@()
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>
        <div class="side-header">
            <img class="rounded-circle" src="@routes.Assets.versioned("images/Profile.png") " alt="logo">
            <h3>Username</h3>
            <h5>Firstname Lastname</h5>
            <a href="#">Update Profile</a>
            <br>
            <br>
            <p>Followed Users (512)</p>
        </div>

        <div class="container">
            <h5>Followed Users</h5>
        </div>
              



    </body>
</html>
