body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    padding: 20px;
    display:flex;
    justify-content: center;
}

.login-form{
  padding: 50px;
  width: 300px;
  border: 1px solid #067b71;
  box-shadow: 0px 3px #067b71;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: paleturquoise;
}
.signup-form{
  padding: 50px;
  width: 300px;
  border: 1px solid #067b71;
  box-shadow: 0px 3px #067b71;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 0;
  background-color: #8fdada;
}


input{
    width: 100%;
    margin: 10px 0px;
    padding: 3px;
}

.btn-primary{
    margin: 10px 0px;
    padding: 10px;
    width: 100px;
    border: 0;
    border-radius: 20px;
    background-color: #039adf;
    color: white;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form h3{
    text-align: center;
}




/* MAIN CSS*/

.side-header{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: white;
  background-color: #067b71;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.rounded-circle{
  border-radius: 50%;
  width: 110px;
}

.side-header a{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px;
    color: white;
}


/* UPDATE FORM CSS*/
.updateform{
    width: 300px;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid;
    border-radius: 10px;
}

.updateform a{
    padding: 9px 30px;
    border-radius: 20px;
    background-color: #52a84c;
    text-decoration: none;
    color: white;
}

